.subItem {
  height: 0;
  transform: translateY(-10px);
  transition: 0.25s ease;
  display: none;
  margin-left: 30px;
  padding: 10px 20px;
  background-color: var(--white);
  border-radius: var(--radius);
}

.subItem__item a {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.subItem__item:last-child a {
  margin-bottom: 0;
}
